<div class="d-flex justify-content-between">
    <div>
        <button [disabled]="question?.previousButtonDisabled" (click)="goToPreviousQuestion()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button [disabled]="question?.nextButtonDisabled" (click)="goToNextQuestion()">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <h2>{{question?.quizName}} - Exercice {{question?.order}}</h2>
    <span *ngIf="clotureVisible" >
        <button [disabled]="clotureDisabled" (click)="clotureAttempt()">
            <mat-icon>close</mat-icon>
        </button>
    </span>
    <span *ngIf="!clotureVisible">
    </span>
</div>
<div class="text-primary fs-4">
    {{question?.body}}
</div>
<div>
    Votre requête : {{question?.answerStatus}}
</div>
<code-editor #editor [(ngModel)]="sql" [readOnly]="!clotureVisible" [database]="dbName"></code-editor>
<div *ngIf="buttonsDisabled() && clotureVisible && !hasTestAnswer">
    <button (click)="sendAction(false)">Envoyer</button>
    <button [disabled]="!deleteActivated" (click)="delete()">Effacer</button>
    <Button *ngIf="!isTest()" (click)="showSolutions()">Voir solutions</Button>
</div>
<div *ngIf="question?.answer">
    {{question?.answer?.getTimeStamp}}
</div>
<div *ngIf="query">
    <div class="text-danger" *ngIf="queryHasErrors()">
        <div>Erreur de requête</div>
        <br>
        <div *ngFor="let error of query?.comments">
            {{error}}
        </div>
    </div>
    <div class="text-danger" *ngIf="queryHasColLineErrors()">
        <div>Votre requête a retourné un mauvais résultat:</div>
        <br>
        <ul *ngFor="let error of query?.badResults">
            <li>{{error}}</li>
        </ul>
        <br>
    </div>
    <div class="text-success" *ngIf="!queryHasErrors() && !queryHasColLineErrors()">
        Votre requête a retourné une réponse correcte
        <br><br>
        <p>Néanmoins comparez votre solution avec celle(s) ci-dessous pour voir si vous n'avez pas eu un peu de chance... ;-&rpar;</p>
    </div>
    <div *ngIf="!queryHasErrors()">
        <p>{{query.rowCount}} ligne(s)</p>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let col of query.columns">{{col}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of query.data">
                    <td *ngFor="let col of row">{{col}}</td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>
<div *ngIf="!solutionsDisabled">
    <div class="fs-4 mt-5 mb-5" *ngFor="let solution of question?.solutions">
        <h1>Solution {{solution.order}}</h1>
        <div class="text-success"><pre>{{solution.sql}}</pre></div>
    </div>
</div>