<div class="d-flex justify-content-between">
    <div>
        <button [disabled]="question?.previousButtonDisabled" (click)="goToPreviousQuestion()">
            <mat-icon>arrow_left</mat-icon>
        </button>
        <button [disabled]="question?.nextButtonDisabled" (click)="goToNextQuestion()">
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
    <h2>{{question?.quizName}} - Exercice {{question?.order}}</h2>
    <button>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="text-primary fs-4">
    {{question?.body}}
</div>
<div>
    Votre requête : {{question?.answerStatus}}
</div>
<code-editor #editor [(ngModel)]="query" [readOnly]="false" [database]="dbName"></code-editor>
<div>
    <button [disabled]="query==previousQuery">Envoyer</button>
    <button>Effacer</button>
    <Button *ngIf="!isTest()">Voir solutions</Button>
</div>