<form [formGroup]="quizEditForm" (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <td id="first">
                <label class="form-label me-5" for="fname">Nom </label>
            </td>
            <td>
                <input class="form-control" #name matInput [formControl]="ctlName" [disabled]="quizHasAnswers" required appSetFocus >
            </td>
            <td class="ps-5">
                <mat-form-field>
                    <mat-label>Base de données</mat-label>
                    <mat-select [formControl]="ctlDatabase" [disabled]="quizHasAnswers">
                        <mat-option [value]="0"></mat-option>
                        <mat-option *ngFor="let d of databases" [value]="d.id">{{d.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td class="ps-5">
                <mat-slide-toggle [formControl]="ctlIsPublished" [checked]="ctlIsPublished.value" [disabled]="quizHasAnswers">Publié</mat-slide-toggle>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <label class="text-danger" *ngIf="ctlName.hasError('required')">Requis</label>
                <label class="text-danger" *ngIf="ctlName.hasError('custom')">{{ctlName.errors?.custom}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-label me-5" for="fdescription">Description</label>
            </td>
            <td>
                <textarea class="form-control" #description matInput [formControl]="ctlDescription" rows="1" [disabled]="quizHasAnswers"></textarea>
            </td>
            <td></td>
            <td>
                <label class="text-danger" *ngIf="ctlDescription.hasError('custom')">{{ctlDescription.errors?.custom}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="form-label me-5" for="fquizType">Type de quiz</label>
            </td>
            <td>
                <mat-radio-group [formControl]="ctlQuizType" aria-label="fquizType">
                    <mat-radio-button [value]="false" [disabled]="quizHasAnswers">Training</mat-radio-button>
                    <mat-radio-button [value]="true" [disabled]="quizHasAnswers">Test</mat-radio-button>
                </mat-radio-group>
            </td>
            <td class="ps-5">
                <div *ngIf="ctlQuizType.value">
                    <mat-form-field class="pe-5">
                        <mat-label>Date début</mat-label>
                        <input matInput [matDatepicker]="start" [formControl]="ctlStartDate">
                        <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
                        <mat-datepicker #start></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date fin</mat-label>
                        <input matInput [matDatepicker]="end" [formControl]="ctlEndDate">
                        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                        <mat-datepicker #end></mat-datepicker>
                    </mat-form-field>
                </div>
            </td>
            <td class="ps-5">
                <button class="me-3" *ngIf="!quizHasAnswers">
                    <mat-icon>save</mat-icon>
                </button>
                <button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</form>